.redirect-btn {
  background-color: #008080;
  border: 0;
  padding: 0.9rem;
  border-radius: 0.8rem;
  margin: 3rem;
}

.redirect-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.redirect-btn a {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
}
