@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700&family=Josefin+Sans:wght@300;400;600&family=Kumbh+Sans:wght@400;700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Montserrat:wght@500&family=Open+Sans:wght@400;700&family=Overpass:wght@400;700&family=Playfair+Display+SC:ital,wght@0,700;1,700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&family=Work+Sans:wght@400;600;700&display=swap");

.main-body {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.flex-item {
  font-family: "Montserrat", sans-serif;
  margin-top: 9rem;
  text-align: center;
  flex: 1 1 33.33%;
}

.container {
  display: inline-block;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  max-width: max-content;
  border-right: 2px solid;
  margin: 1rem 0 0 0;
  animation: typing 1.5s steps(50, end) forwards;
  animation: typing-erase 10s steps(80, end) infinite,
    blinking 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: rgb(255, 255, 255);
  }
  100% {
    border-right-color: transparent;
  }
}

/* The type and erase effect */
@keyframes typing-erase {
  0%,
  5% {
    width: 0;
  }
  30%,
  70% {
    width: 100%;
  }
  90%,
  100% {
    width: 0;
  }
}
